version: "3.8"

networks:
  monitoring:
    external: true
  monitoring_monitoring:
    external: true
  proxy:
    external: true

services:
  node-exporter:
    image: prom/node-exporter
    container_name: node-exporter
    restart: always
    networks:
      - monitoring
    ports: []
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      - '--path.rootfs=/rootfs'

  # cadvisor:
  #   image: gcr.io/cadvisor/cadvisor:latest
  #   container_name: cadvisor
  #   restart: always
  #   networks:
  #     - monitoring
  #   ports: []
  #   volumes:
  #     - /:/rootfs:ro
  #     - /var/run:/var/run:ro
  #     - /sys:/sys:ro
  #     - /var/run/docker.sock:/var/run/docker.sock:ro
  cadvisor:
    image: gcr.io/cadvisor/cadvisor:v0.47.2
    container_name: cadvisor
    restart: always
    privileged: true # <--- Essencial para ler metadados
    networks:
      - monitoring
    ports: []
    devices:
      - /dev/kmsg
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      # AQUI ESTÁ O SEGREDO:
      # O lado esquerdo DEVE ser o caminho que você viu no Passo 1 (/var/lib/docker)
      - /var/lib/docker:/var/lib/docker:ro
      # Adicione também este para garantir leituras de disco corretas:
      - /dev/disk/:/dev/disk:ro

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    restart: always
    networks:
      - monitoring
    ports: []
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.retention.time=7d"

  grafana:
    image: grafana/grafana
    container_name: grafana
    restart: always
    networks:
      - monitoring
      - proxy
    ports:
      - "3000:3000"
    volumes:
      - grafana-data:/var/lib/grafana

volumes:
  grafana-data:
  prometheus-data:
